@charset "UTF-8";

@media (max-width: 768px) {
    header {
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.411);
    }

    #galery {
        
        grid-template-columns: repeat(2, 1fr);
    }

    #burguer {
        position: relative;
    }
}

@media screen and (min-width: 769px) {
    header {
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.411);
    }

    #galery {
        grid-template-columns: repeat(3, 1fr);
    }

    i#burguer {
        display: none;
    }
}

@media screen and (min-width: 940px) {
    
    header {
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.411);
    }

    #galery {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1180px) {
    #galery {
        grid-template-columns: repeat(5, 1fr);
    }
    header {
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.411);
    }
}
