@charset "UTF-8";

@media (max-width: 768px) {
    #galery {
        margin-top: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    #burguer {
        margin-top: 10px;
        position: relative;
    }
}

@media screen and (min-width: 769px) {
    #galery {
        grid-template-columns: repeat(3, 1fr);
    }

    i#burguer {
        display: none;
    }

}

@media screen and (min-width: 940px) {
    #galery {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1180px) {
    #galery {
        grid-template-columns: repeat(5, 1fr);
    }
}
